<!--  <?xml version="1.0" encoding="UTF-8"?>  -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="id1" class="org.springframework.mail.javamail.JavaMailSenderImpl">
<property name="host" value="smtp.gamil.com"/>
<property name="username" value="sureganesh380@gamil.com"/>
<property name="password" value="Geetha@2005"/>
<property name="javaMailProperties">
<props>
<prop key="mail.transport.protocol">smtp</prop>
<prop key="mail.smtp.auth">true</prop>
<prop key="mail.smtp.port">465</prop>
<prop key="mail.smtp.socketFactory.port">465</prop>
<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLScocketFactory</prop>
<prop key="mail.smtp.starttls.enable">true</prop>
</props>
</property>
</bean> 

<bean id="id2" class="com.practice.mail.TeatBean">
<property name="mailSender" ref="id1"/>
</bean>

</beans>